---
import "@/styles/markdown.scss";
import "@/styles/reset.css";
import "@/styles/global.scss";
import "@/styles/h-grid.scss";

// transition api
import "@/anims/transition.css";

import { defaultSiteMeta } from "@/data/site";
import type { SiteMeta } from "hoqn";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  lang?: string;
  meta?: Partial<SiteMeta>;
}

const { lang, meta: partialMeta } = Astro.props;
const meta: SiteMeta = {
  ...defaultSiteMeta,
  ...partialMeta,
};
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={meta.desc} />
    <meta name="theme-color" content={meta.themeColor} />
    <title>{meta.title}</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1571223502128103"
     crossorigin="anonymous"></script>
    <script is:inline>
      (() => {
        const initScheme = () => {
          const v = localStorage.getItem("color-scheme");

          if (
            v === "dark" ||
            (v === null &&
              window.matchMedia("prefers-color-scheme: dark").matches)
          ) {
            document.documentElement.classList.add("dark-theme");
          }
        };

        initScheme();

        // view transition을 사용하는 환경에서도 제대로 작동하도록
        document.addEventListener("astro:after-swap", initScheme);
      })();
    </script>
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"
    />
    <!-- <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css" /> -->
    <ViewTransitions fallback="animate" />
  </head>
  <body>
    <slot />
  </body>
</html>
