---
import "@/styles/markdown.scss";
import "@/styles/reset.css";
import "@/styles/global.scss";
import "@/styles/h-grid.scss";

import { defaultSiteMeta } from "@/data/site";
import type { SiteMeta } from "hoqn";

export interface Props {
  lang?: string;
  meta?: Partial<SiteMeta>;
}

const { lang, meta: partialMeta } = Astro.props;
const meta: SiteMeta = {
  ...defaultSiteMeta,
  ...partialMeta,
};
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={meta.desc} />
    <meta name="theme-color" content={meta.themeColor} />
    <title>{meta.title}</title>
    <script is:inline>
      (() => {
        var v = localStorage.getItem("color-scheme");
        if (
          v === "dark" ||
          (v === null &&
            window.matchMedia("prefers-color-scheme: dark").matches)
        ) {
          document.documentElement.classList.add("dark-theme");
        }
      })();
    </script>
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"
    />
    <!-- <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css" /> -->
  </head>
  <body>
    <slot />
  </body>
</html>
